.container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .row{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col h1{
max-width: 272px;
font-size: 2.5em;
padding: 0;
margin-bottom: 0;
}
button{
    background-color: #1033FF;
    color: white;
    padding: 14px 50px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: fit-content;
    border-radius: 30px;
}
  